* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #1A1B26;
    color: #35bc78;
    height: 100vh;
    overflow-y: auto;
}

a,
a:visited,
a:hover,
a:focus,
a:active {
    color: inherit;
    text-decoration: underline;
}

#terminal {
    width: 100%;
    height: 100%;
    padding: 0 20px;
}

#banner {
    padding: 20px;
    padding-bottom: 0;
}

#output {
    margin-bottom: 20px;
    white-space: pre-wrap;
    line-height: 1.5;
}

.command-line {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 100px
}

.prompt {
    color: #35bc78;
    user-select: none;
}

#input {
    background: transparent;
    border: none;
    color: #35bc78;
    font-size: 16px;
    outline: none;
    caret-color: #35bc78;
    flex-grow: 1;
    width: 100%;
}

.copyright {
    color: #666;
    font-size: 14px;
    margin-bottom: 5px;
}

footer {
    background-color: #66666630;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }
}

.ascii-art {
    font-family: monospace;
    white-space: pre;
    display: block;
    font-size: 20px;
    line-height: 1;
    margin-bottom: 20px;
    color: #35bc78;
}

.highlight {
    color: #73ABAD;
    text-shadow: 0 0 5px #73ABAD;
}

.header {
    color: steelblue;
}